/* GENERAL STYLE */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
}

p {
  line-height: 1.4;
}

/* HEADER SECTION */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height: 30rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  width: 960px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  margin-left: 2rem;
  margin-right: 1rem;
  height: 1.5rem;
  width: auto;
}

.header-list span {
  padding-right: 2rem;
}

.header-mobile {
  display: none;
  padding-right: 2rem;
}

.title-container {
  display: flex;
  width: 960px;
  justify-content: flex-end;
}

.title-container h1 {
  display: inline-block;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* Tablet version */
@media only screen and (max-width: 1024px) {
  header {
    height: 22rem;
  }

  .logo span {
    display: none;
  }

  .top-header-container {
    margin-top: 0;
    width: 100%;
  }

  .title-container h1 {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  .header-list {
    display: none;
  }

  .header-mobile {
    display: block;
  }
}

/* Phone version */
@media only screen and (max-width: 480px) {
  header {
    height: 17rem;
    background-position: 20%;
  }

  .top-header-container {
    margin-top: 0;
    width: 100%;
  }

  .title-container h1 {
    width: 100%;
    margin-top: 9rem;
    margin-right: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
  }
}

/* MAIN SECTION */
.supporting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Features Section */
.features {
  display: flex;
  justify-content: center;
}

.features-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5rem;
  height: 8rem;
  margin: 3rem 3rem 3rem 3rem;
  text-align: center;
}

.features-item img {
  width: 5rem;
  margin-bottom: 1rem;
}

.features-item img.image-short {
  width: 3.5rem;
}

/* Info section */
.info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 960px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  height: auto;
  margin: 0 2.5%;
}

.info-item .title {
  display: block;
  width: 10rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

/* Phone version */
@media only screen and (max-width: 480px) {
  .features {
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
  }

  .features-item {
    height: auto;
    margin: 0.77rem 0rem;
  }

  .features-item p {
    font-size: 0.77rem;
  }

  .info {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  .info-item {
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 4rem 0;
    width: 100%;
  }

  .info-item .title {
    text-align: center;
    margin: 0;
    padding: 0.5rem 0;
    width: 100%;
  }

  .info-item p {
    padding: 1rem 0 0 0;
    font-size: 0.77rem;
  }
}


/* FOOTER SECTION */
footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 960px;
  background-color: azure;
  margin-top: 5rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

footer img {
  margin-left: 4rem;
  height: 1.5rem;
  width: auto;
}

footer p
{
  display: inline-block;
  padding-left: 1rem;
}

/* Phone version */
@media only screen and (max-width: 480px) {

  footer {
    justify-content: center;
    width: 100%;
  }

  footer img {
    margin-left: 0;
  }

  footer p {
    display: none;
  }
}
